In [1]:
from sklearn import linear_model

In [2]:
reg = linear_model.LinearRegression()

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("stats.csv")

In [6]:
clv = df[df['CC_ALG'] == 'CLV']

In [9]:
clv.head()

,ABORT_PENALTY,CC_ALG,MAX_TXN_PER_PART,NUM_WH,SYNTHETIC_YCSB,THREAD_CNT,WORKLOAD,ZIPF_THETA,abort_cnt,cycle_detect,...,run_time,throughput,time_abort,time_cleanup,time_index,time_man,time_query,time_ts_alloc,time_wait,txn_cnt
0,1,CLV,100000,NaN,True,1,YCSB,0.6,0,0,...,0.379354,263605.882529,0.000000,0.062167,0.030397,0.204474,0.001967,0.0,0.000000,100000
1,1,CLV,100000,NaN,True,2,YCSB,0.6,272,0,...,2.351009,170137.155509,0.002452,0.496717,0.099556,1.741832,0.004094,0.0,0.000273,199997
2,1,CLV,100000,NaN,True,8,YCSB,0.6,142207,0,...,36.276166,176014.631290,3.814044,16.955770,0.341782,24.800761,0.029351,0.0,2.158468,798142
3,1,CLV,100000,NaN,True,16,YCSB,0.6,291876,0,...,164.232420,155497.970821,11.277315,117.602062,0.687498,133.594385,0.059940,0.0,8.186947,1596113
4,1,CLV,100000,NaN,True,32,YCSB,0.6,421069,0,...,796.211303,128485.370242,19.022319,707.788346,1.411456,741.383345,0.115010,0.0,12.928204,3196922

In [8]:
y = clv['throughput'].values

In [13]:
X = clv.loc[:,['time_wait', 'abort_cnt']].values

In [14]:
reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
reg.coef_

array([-1.20440654e+02, -3.79621785e-02])