In [1]:
from analyze_helper import *

In [2]:
output = open('debug.out')
ts = 1
for line in output:
    try:
        ts = parse(line.strip(), ts)
        if ("4977674571579676" in line):
            print(line)
            print(locktable["4977674571579676"])
            print('\n\n')
    except:
        print(line)
        raise

[row_clv-4977674571579676 txn-7 (0)] add to owners (type 0)

{'owners': [(7, 0, 'EX')], 'waiters': [], 'retired': []}
[row_clv-4977674571579676 txn-7 (0)] rm from owners

{'owners': [], 'waiters': [], 'retired': []}
[row_clv-4977674571579676 txn-7 (0)] move to retired (type 0), is_cohead=1, delta=0

{'owners': [], 'waiters': [], 'retired': [(7, 0, 'EX', True, False)]}
[row_clv-4977674571579676 txn-2 (3)] add to waiters (type 1)

{'owners': [], 'waiters': [(2, 3, 'SH')], 'retired': [(7, 2, 'EX', True, False)]}
[row_clv-4977674571579676 txn-2 (3)] move to owners

{'owners': [(2, 3, 'SH')], 'waiters': [], 'retired': [(7, 2, 'EX', True, False)]}
[row_clv-4977674571579676 txn-2 (3)] rm from owners

{'owners': [], 'waiters': [], 'retired': [(7, 2, 'EX', True, False)]}
[row_clv-4977674571579676 txn-2 (3)] move to retired (type 1), is_cohead=0, delta=1

{'owners': [], 'waiters': [], 'retired': [(7, 2, 'EX', True, False), (2, 3, 'SH', False, True)]}
[row-4977674571579676 txn-7] try to release lock when aborted

{'owners': [], 'waiters': [], 'retired': [(7, 2, 'EX', True, False), (2, 3, 'SH', False, True)]}
[row_clv-4977674571579676 txn-1 (6)] add to waiters (type 1)

{'owners': [], 'waiters': [(1, 6, 'SH')], 'retired': [(7, 2, 'EX', True, False), (2, 3, 'SH', False, True)]}
[row_clv-4977674571579676 txn-1 (6)] move to owners

{'owners': [(1, 6, 'SH')], 'waiters': [], 'retired': [(7, 2, 'EX', True, False), (2, 3, 'SH', False, True)]}
[row_clv-4977674571579676 txn-1 (6)] rm from owners

{'owners': [], 'waiters': [], 'retired': [(7, 2, 'EX', True, False), (2, 3, 'SH', False, True)]}
[row_clv-4977674571579676 txn-1 (6)] move to retired (type 1), is_cohead=0, delta=0

{'owners': [], 'waiters': [], 'retired': [(7, 2, 'EX', True, False), (2, 3, 'SH', False, True), (1, 6, 'SH', False, False)]}
[row_clv-4977674571579676 txn-4 (10)] add to waiters (type 0)

{'owners': [], 'waiters': [(4, 10, 'EX')], 'retired': [(7, 7, 'EX', True, False), (2, 3, 'SH', False, True), (1, 6, 'SH', False, False)]}

In [3]:
schedule

,7,2,5,1,6,4,0,3
3,txn 7 start running,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,txn 2 start running,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,txn 5 start running,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,txn 1 start running,NaN,NaN,NaN,NaN
15,NaN,txn 2 set ts 3,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,txn 6 start running,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,txn 4 start running,NaN,NaN
20,txn 7 set ts 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,txn 0 start running,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,txn 3 start running
29,NaN,txn 2 increment barrier to 1,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,txn 1 set ts 6,NaN,NaN,NaN,NaN
41,txn 7 is set to commited,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,txn 1 increment barrier to 1,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,txn 4 set ts 10,NaN,NaN
68,txn 7 set ts 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for txn in barriers:
    if barriers[txn] > 0:
        print("txn {} ({})'s barriers = {} at thread {}".format(txn, status[txn], barriers[txn], int(txn)%NUM_THREAD))

txn 2 (running)'s barriers = 1 at thread 2
txn 1 (running)'s barriers = 1 at thread 1

In [5]:
dependencies = {}
for txn in priority:
    dependencies[priority[txn]] = []
    for row in locktable:
        txns = [item[0] for place in ['retired', 'owners', 'waiters'] for item in locktable[row][place]]
        for i, t in enumerate(txns):
            if t == txn:
                dependencies[priority[txn]] += [ priority[j] for j in txns[:i] if status[j] == "running"]
    dependencies[priority[txn]] = sorted(list(set(dependencies[priority[txn]])))
    if (status[txn] == "running"):
        print("txn {} ({}, {}) is waiting for {}".format(txn, priority[txn], status[txn], dependencies[priority[txn]]))

txn 2 (3, running) is waiting for []
txn 5 (0, running) is waiting for []
txn 1 (6, running) is waiting for [3]
txn 6 (0, running) is waiting for []
txn 4 (10, running) is waiting for [3, 6]
txn 0 (0, running) is waiting for []
txn 3 (0, running) is waiting for []

In [6]:
status

{7: 'commited',
 2: 'running',
 5: 'running',
 1: 'running',
 6: 'running',
 4: 'running',
 0: 'running',
 3: 'running'}

In [7]:
find_locktable_with_txn(4, True)

4977674571579676
{'owners': [], 'waiters': [(4, 10, 'EX')], 'retired': [(7, 7, 'EX', True, False), (2, 3, 'SH', False, True), (1, 6, 'SH', False, False)]}

True

In [8]:
priority

{7: 7, 2: 3, 5: 0, 1: 6, 6: 0, 4: 10, 0: 0, 3: 0}

In [9]:
status

{7: 'commited',
 2: 'running',
 5: 'running',
 1: 'running',
 6: 'running',
 4: 'running',
 0: 'running',
 3: 'running'}