In [1]:
import re
import pandas as pd
import numpy as np
from abort_analyze_helper import *

In [10]:
match_get_row = re.compile(r"txn=(\d*) row=(\d*) type=(\d*)")
match_status = re.compile(r"txn=(\d*) status=(\d*)")

In [46]:
df = pd.DataFrame()

In [47]:
f = open("debug.txt")

In [48]:
last_row = ""
ts = 0
for line in f:
    if "txn=" not in line:
        continue
    line = line.strip()
    if "row=" in line:
        matched = match_get_row.search(line)
        txn, row, access_t = matched.groups(1)
        txn = int(txn)
        access_t = LOCK_T[int(access_t)]
        if (row in df.index) and (isinstance(df.loc[row,ts], str)):
            ts += 1
        df.loc[row, ts] = "[%d] %d, %s"%(ts, txn, access_t)
    else:
        matched = match_status.search(line)
        txn, status = matched.groups(1)
        status = STATUS[int(status)]
        print("[%d] txn-%s, %s"%(ts, txn, status))

In [49]:
df.shape

(42, 1)

In [50]:
def print_locktable(ts):
    for rid in range(df.shape[0]):
        locktable = df.iloc[rid, :ts][df.iloc[rid, :ts].notnull()]
        if len(locktable) > 1:
            print(locktable.values)

In [53]:
print_locktable(1)

In [54]:
df

                            0
34607254394059480   [0] 1, EX
34607254401551848  [0] 11, SH
34607254372437836  [0] 12, EX
34607254401535488  [0] 25, SH
34607254304146400   [0] 6, EX
34607254348866948   [0] 5, EX
34607254918016600   [0] 1, SH
34607254834432500  [0] 12, SH
34607254743353932   [0] 5, SH
34607254570627712   [0] 6, SH
34607254265806736   [0] 1, EX
34607254422643492   [0] 1, SH
34607254315352508  [0] 12, EX
34607254262577920   [0] 5, EX
34607254328321440   [0] 6, EX
34607254410242420   [0] 5, SH
34607254613896728  [0] 12, SH
34607254385438376   [0] 1, EX
34607254286774748   [0] 5, EX
34607254503626680   [0] 5, SH
34607254267206976   [0] 5, EX
34607254884737968   [0] 1, SH
34607254384575164  [0] 12, EX
34607254428054072   [0] 5, SH
34607254663999232   [0] 6, SH
34607254281203436   [0] 5, EX
34607254482084160   [0] 5, SH
34607254339063844   [0] 5, EX
34607254881381272  [0] 12, SH
34607254350305812   [0] 1, EX
34607254260678468   [0] 6, EX
34607254327610004  [0] 12, EX
34607254705518712   [0] 5, SH
34607254402895348   [0] 6, SH
34607254748910272   [0] 1, SH
34607254661235800  [0] 12, SH
34607254353440904   [0] 6, EX
34607254327577332   [0] 5, EX
34607254661132592   [0] 5, SH
34607254401550372  [0] 24, SH
34607254392591408  [0] 12, EX
34607255015197056  [0] 10, EX